# Data  

I will consider only five seasons:  

2020-2021, 2021-2022, 2022-2023, 2023-2024, 2024-2025

# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import time

import warnings
warnings.simplefilter('ignore')

# Importing Data   

Data are imported from FBref. I import players' data from the wages table.

In [10]:
def get_players(season: str):
    ''' 
    Function to get players' data
    '''
    return pd.read_html(f'https://fbref.com/en/comps/11/{season}/wages/{season}-Serie-A-Wages')[1]

In [11]:
# Seasons to search
seasons = ['2020-2021', '2021-2022', '2022-2023', '2023-2024', '2024-2025']

In [12]:
# Starting a loop where the function is called for each season
final_df = pd.DataFrame()

for season in seasons:
    time.sleep(60)
    try: 
        int_df = get_players(season)
        int_df['Season'] = season
        final_df = pd.concat([final_df, int_df])
    except:
        print(f'{season} not found')

# Data Preprocessing  

Steps include:  

1. Keep necessary columns only  
2. Drop rows with null values  
3. Create a new column "squad_season" = Squad + Season   
4. Create a dataset with unique players  
5. Create a dataset with teams and season  
6. Create a relationship dataset  
7. "Clean" the "Nation" column  
8. Exploding "Pos" column

In [41]:
cols = final_df.columns[1:-2].to_list()
cols.append('Season')
df = final_df[cols]

In [48]:
df

,Player,Nation,Pos,Squad,Age,Weekly Wages,Annual Wages,Season
0,Cristiano Ronaldo,pt POR,FW,Juventus,35,"€ 1,104,038 (£ 925,746, $1,125,139)","€ 57,410,000 (£ 48,138,766, $58,507,203)",2020-2021
1,Edin Džeko,ba BIH,FW,Roma,34,"€ 267,115 (£ 223,978, $272,220)","€ 13,890,000 (£ 11,646,881, $14,155,462)",2020-2021
2,Paulo Dybala,ar ARG,FW,Juventus,26,"€ 260,000 (£ 218,012, $264,969)","€ 13,520,000 (£ 11,336,633, $13,778,390)",2020-2021
3,Leonardo Bonucci,it ITA,DF,Juventus,33,"€ 231,538 (£ 194,147, $235,964)","€ 12,040,000 (£ 10,095,641, $12,270,105)",2020-2021
4,Wojciech Szczęsny,pl POL,GK,Juventus,30,"€ 231,538 (£ 194,147, $235,964)","€ 12,040,000 (£ 10,095,641, $12,270,105)",2020-2021
...,...,...,...,...,...,...,...,...
576,Dario Daka,NaN,RW,Lecce,20,"€ 1,731 (£ 1,427, $1,822)","€ 90,000 (£ 74,185, $94,767)",2024-2025
577,Edoardo Piana,NaN,GK,Udinese,20,"€ 1,346 (£ 1,110, $1,417)","€ 70,000 (£ 57,699, $73,707)",2024-2025
578,Giuseppe Ciocci,it ITA,GK,Cagliari,22,"€ 1,346 (£ 1,110, $1,417)","€ 70,000 (£ 57,699, $73,707)",2024-2025
579,Þórir Jóhann Helgason,is ISL,"MF,FW",Lecce,23,"€ 1,154 (£ 951, $1,215)","€ 60,000 (£ 49,457, $63,178)",2024-2025
580,Paul Pogba,fr FRA,CM,Juventus,31,"€ 808 (£ 666, $850)","€ 42,000 (£ 34,620, $44,224)",2024-2025

Storing

In [65]:
df.to_csv('df_to_use.csv', index=None)

Look for null values

In [42]:
df.isna().sum()

Player            0
Nation          254
Pos               0
Squad             0
Age               0
Weekly Wages      0
Annual Wages      0
Season            0
dtype: int64

Keeping only not null values

In [49]:
df_notna = df[df.Nation.notna()]

Creating squad-season column

In [ ]:
df_notna['Squad-Season'] = df_notna.Squad + ' ' + df_notna.Season

"Cleaning" Nation Column

In [ ]:
df_notna['Nation'] = df_notna.Nation.str.split(' ').apply(lambda x: x[-1])

In [56]:
df_notna

,Player,Nation,Pos,Squad,Age,Weekly Wages,Annual Wages,Season,Squad-Season
0,Cristiano Ronaldo,POR,FW,Juventus,35,"€ 1,104,038 (£ 925,746, $1,125,139)","€ 57,410,000 (£ 48,138,766, $58,507,203)",2020-2021,Juventus 2020-2021
1,Edin Džeko,BIH,FW,Roma,34,"€ 267,115 (£ 223,978, $272,220)","€ 13,890,000 (£ 11,646,881, $14,155,462)",2020-2021,Roma 2020-2021
2,Paulo Dybala,ARG,FW,Juventus,26,"€ 260,000 (£ 218,012, $264,969)","€ 13,520,000 (£ 11,336,633, $13,778,390)",2020-2021,Juventus 2020-2021
3,Leonardo Bonucci,ITA,DF,Juventus,33,"€ 231,538 (£ 194,147, $235,964)","€ 12,040,000 (£ 10,095,641, $12,270,105)",2020-2021,Juventus 2020-2021
4,Wojciech Szczęsny,POL,GK,Juventus,30,"€ 231,538 (£ 194,147, $235,964)","€ 12,040,000 (£ 10,095,641, $12,270,105)",2020-2021,Juventus 2020-2021
...,...,...,...,...,...,...,...,...,...
570,Jasper Samooja,FIN,GK,Lecce,21,"€ 2,308 (£ 1,902, $2,430)","€ 120,000 (£ 98,913, $126,355)",2024-2025,Lecce 2024-2025
573,Alessio Furlanetto,ITA,GK,Lazio,22,"€ 2,115 (£ 1,744, $2,227)","€ 110,000 (£ 90,671, $115,826)",2024-2025,Lazio 2024-2025
578,Giuseppe Ciocci,ITA,GK,Cagliari,22,"€ 1,346 (£ 1,110, $1,417)","€ 70,000 (£ 57,699, $73,707)",2024-2025,Cagliari 2024-2025
579,Þórir Jóhann Helgason,ISL,"MF,FW",Lecce,23,"€ 1,154 (£ 951, $1,215)","€ 60,000 (£ 49,457, $63,178)",2024-2025,Lecce 2024-2025
580,Paul Pogba,FRA,CM,Juventus,31,"€ 808 (£ 666, $850)","€ 42,000 (£ 34,620, $44,224)",2024-2025,Juventus 2024-2025

In [61]:
df_notna['Pos_list'] = df_notna.Pos.str.split(',')

In [66]:
df_notna_exp = df_notna.explode('Pos_list').rename(columns={'Pos_list':'Position'})

Storing

In [67]:
df_notna_exp.to_csv('df_exploded.csv', index=None)

# Import Preparation

To import data with the data importer, different datasets are needed:  

1. Players  
2. Teams for each season  
3. Positions  
4. Nations  
5. Relationships

In [13]:
df_notna_exp = pd.read_csv('./Datasets/df_exploded.csv')

### Players

In [73]:
players = df_notna_exp.drop_duplicates('Player', keep='last')[['Player']]

In [81]:
players['PlayerId'] = np.arange(1, players.shape[0]+1)

In [82]:
players

                    Player  PlayerId
0        Cristiano Ronaldo         1
6     Gianluigi Donnarumma         2
8             Sami Khedira         3
20        Radja Nainggolan         4
21          Javier Pastore         5
..                     ...       ...
570         Jasper Samooja      1173
573     Alessio Furlanetto      1174
578        Giuseppe Ciocci      1175
579  Þórir Jóhann Helgason      1176
580             Paul Pogba      1177

[1177 rows x 2 columns]

Storing

In [83]:
players.to_csv('./Datasets/players.csv', index=None)

### Squads   

I will create a separate CSV for each squad each season. The number of teams in each file should be 20.

In [29]:
for s in seasons:
    season_df = df_notna_exp[df_notna_exp.Season == s][['Squad']].drop_duplicates('Squad', keep='first')
    season_df[f'TeamSeasonId{s}'] = np.arange(1,season_df.shape[0]+1)
    season_df.to_csv(f"./Datasets/df_season_{s}.csv", index=None)

### Nations

In [19]:
nations = df_notna_exp.drop_duplicates('Nation', keep='first')[['Nation']]
nations['NationId'] = np.arange(1, nations.shape[0]+1)

Storing

In [21]:
nations.to_csv('./Datasets/nations.csv', index=None)

### Positions

In [26]:
positions = df_notna_exp.drop_duplicates('Position', keep='first')[['Position']]
positions['PositionId'] = np.arange(1, positions.shape[0]+1)

In [28]:
positions.to_csv('./Datasets/positions.csv', index=None)

### Relationships  

1. Relationship with a team for each season  
2. Relationship with nation  
3. Relationship with position

Team relationships will be created by filtering each season and finding the players for each team

In [35]:
players = pd.read_csv('./Datasets/players.csv')
teams_2020_2021 = pd.read_csv('./Datasets/df_season_2020-2021.csv')

In [41]:
df_notna_exp[df_notna_exp.Season == '2020-2021'][['Player', 'Squad']].merge(players, on='Player').merge(teams_2020_2021, on='Squad')[['PlayerId', 'TeamSeasonId2020-2021']]

     PlayerId  TeamSeasonId2020-2021
0           1                      1
1         328                      2
2         724                      1
3         542                      1
4         524                      1
..        ...                    ...
736      1013                     11
737       185                      2
738      1057                     16
739       186                     16
740       187                     16

[741 rows x 2 columns]

In [9]:
# Creating a function

def team_player_relationship(season: str):
    teams_season = pd.read_csv(f"./Datasets/df_season_{season}.csv")
    final_df = df_notna_exp[df_notna_exp.Season == season][['Player', 'Squad']].merge(players, on='Player').merge(teams_season, on='Squad')[
        ['PlayerId', f'TeamSeasonId{season}']].drop_duplicates(['PlayerId', f'TeamSeasonId{season}'])
    return final_df.to_csv(f"./Datasets/team_players_relationship_{season}.csv", index=None)

In [14]:
for s in seasons:
    team_player_relationship(s)

Nations

In [54]:
player_nation_rel = df_notna_exp[['Player', 'Nation']].merge(players, on='Player').drop_duplicates(['Player', 'Nation'], keep='first').merge(
    nations, on='Nation'
)[['PlayerId', 'NationId']]

Storing

In [55]:
player_nation_rel.to_csv('./Datasets/player_nation_rel.csv', index=None)

Positions

In [60]:
player_pos_rel = df_notna_exp[['Player', 'Position']].merge(players, on='Player').merge(positions, on='Position')[['PlayerId', 'PositionId']]

In [61]:
player_pos_rel.to_csv('./Datasets/player_pos_rel.csv', index=None)

Check

In [20]:
players = pd.read_csv('Datasets/players.csv')
team_players_2020_2021 = pd.read_csv('./Datasets/team_players_relationship_2020-2021.csv')
teams_2020_2021 = pd.read_csv('Datasets/df_season_2020-2021.csv')